<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue</title>
    <script type="text/javascript" src="../../../js/vue.js"></script>
</head>
<body>
    <div id="root">
        <h2>Vue Property Addition Comparison</h2>
        <h3>Properties</h3>
        <ul>
            <li v-for="(val, key) in properties" :key="key">{{ key }}: {{ val }}</li>
        </ul>
        <hr>
        <button @click="jsAdd">Use JS to Add Property</button>
        <button @click="apiAdd">Use Vue API to Add Property</button>
        <hr>
        <pre>{{ properties }}</pre>
        <br>
        <h3>JS Add Result: <span v-if="jsAddVal">Characteristic added</span></h3>
        <h3>Vue API Add Result: <span v-if="apiAddVal">Characteristic added</span></h3>
    </div>
    
    <script type="text/javascript">
        Vue.config.productionTip = false;
        const vm = new Vue({
            el: '#root',
            data: {
                jsAddVal: false,
                apiAddVal: false,
                properties: {
                    type: "javascripts",
                    ranking: "first"
                }
            },
            methods: {
                jsAdd() {
                    this.properties.characteristic = "reactive";
                    this.jsAddVal = true;
                },
                apiAdd() {
                    Vue.set(this.properties, 'characteristic', 'reactive');
                    this.apiAddVal = true;
                }
            }
        });
    </script>
</body>
</html>