<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue</title>
    <script type="text/javascript" src="../../js/vue.js"></script>
</head>
<body>
    <div id="root">
        <h2>遍历数组</h2>
        <li v-for="(p, index) in persons" :key="index">{{p.name}}-{{p.age}}</li>
        <h2>遍历对象</h2>
        <li v-for="(val, key) in car" :key="key">{{val}}-{{key}}</li>
        <h2>遍历字符串</h2>
        <li v-for="(val, index) in str1" :key="index">{{val}}-{{index}}</li>
        <h2>遍历指定次数</h2>
        <li v-for="(number, index) in 6" :key="index">{{number}}-{{index}}</li>

    </div>
    <script type="text/javascript">
        Vue.config.productionTip = false // 阻止vue在启动时生成生产的提示信息.
        new Vue({
          el: '#root',
          data: {
            // your data here
            persons: [
                {id: '001', name:'zhangsan', age:18},
                {id: '002', name:'lisi', age:19},
                {id: '003', name:'wangwu', age:20}
            ]
          },
          // other options
        });
    </script>
</body>
</html>